/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
@font-face {
  font-family: 'Ubuntu Condensed';
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu Condensed"), local("UbuntuCondensed-Regular"), url("../fonts/ubuntu.woff") format("woff"); }

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body.drag {
  -webkit-app-region: drag; }

#error {
  position: absolute;
  width: 100%;
  padding-top: 50px;
  top: 30px;
  bottom: 0;
  height: 200px;
  z-index: 2000000001;
  background: #2f75af;
  color: #fff;
  display: none;
  text-align: center;
  font-family: 'Ubuntu Condensed'; }

#background {
  width: 280px;
  height: 450px;
  position: relative;
  background: #2f75af;
  overflow: hidden; }

#credits {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  overflow-x: auto;
  color: #444;
  z-index: 10;
  font-size: 15px;
  padding: 20px;
  font-family: 'Ubuntu Condensed';
  background: #f7f7f7;
  -webkit-animation: 500ms ease credits-show 1;
  -webkit-transform-origin: left;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: perspective(600px) rotateY(-90deg);
  overflow: hidden; }
  #credits.show {
    -webkit-transform: perspective(600px) rotateY(0deg); }
  #credits.anim {
    -webkit-transition: 500ms ease all; }
  #credits strong {
    letter-spacing: -1px; }
  #credits img {
    cursor: pointer; }
  #credits ul {
    padding-left: 1.5em; }
  #credits h1, #credits h2 {
    margin-top: 0.3em;
    margin-bottom: 0.2em;
    color: #222;
    letter-spacing: -1px; }
  #credits p {
    margin-top: 0; }
  #credits a {
    text-decoration: none;
    color: #444; }
    #credits a:hover {
      text-decoration: underline; }

img {
  -webkit-user-drag: none;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none; }

#container {
  width: 100%;
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-transition-property: opacity, background-color;
  -webkit-transition-duration: 300ms, 300ms;
  -webkit-transition-timing-function: ease, ease; }
  #container ul {
    padding: 0;
    margin: 0; }
  #container.transparent {
    opacity: 0; }

#spinner {
  -webkit-transition: 300ms ease opacity;
  position: absolute;
  top: 35%;
  left: 50%; }
  #spinner.transparent {
    opacity: 0; }

.middle {
  width: 280px;
  height: 450px;
  overflow: auto;
  color: #fff; }

.top {
  text-align: center;
  height: 20%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -webkit-flex;
  -webkit-flex-direction: column; }

.padding {
  height: 30px; }

#panel {
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  z-index: 1;
  color: #fff;
  -webkit-transition: 300ms ease opacity; }
  #panel.dim {
    opacity: 0.3; }
    #panel.dim .sync {
      opacity: 0;
      cursor: default; }
  #panel.error .sliderControls, #panel.error .sync {
    display: none; }
  #panel .sliderControls {
    position: absolute;
    top: 3px;
    right: 12px; }
    #panel .sliderControls img {
      height: 21px;
      margin-left: 4px;
      cursor: pointer;
      -webkit-transition: 150ms ease opacity; }
      #panel .sliderControls img:hover {
        opacity: 0.6; }
  #panel .sync {
    right: 50px;
    width: 18px;
    position: absolute;
    height: 30px;
    -webkit-transition: 300ms ease opacity;
    cursor: pointer; }
  #panel .sync img {
    width: 16px;
    height: 16px;
    padding: 7px 0; }
  #panel .close, #panel .minimize {
    font-family: monospace;
    font-size: 18px;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.05);
    cursor: default;
    position: absolute;
    -webkit-transition: 200ms ease background; }
    #panel .close:hover, #panel .minimize:hover {
      background: rgba(0, 0, 0, 0.2); }
  #panel .close {
    line-height: 34px;
    left: 0; }
  #panel .minimize {
    left: 30px;
    line-height: 38px; }
  #panel div {
    -webkit-app-region: no-drag; }

.city {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  position: relative;
  font-family: "Ubuntu Condensed";
  text-transform: uppercase;
  letter-spacing: -2px; }
  .city div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center; }
    .city div:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle; }
    .city div span {
      display: inline-block;
      cursor: default; }

.weather {
  height: 30%;
  text-align: center;
  box-sizing: border-box; }
  .weather img {
    height: 100%; }

.stats {
  height: 25%;
  font-size: 0; }
  .stats .left, .stats .right {
    width: 50%;
    height: 100%;
    display: inline-block;
    font-size: 13px;
    font-family: "Ubuntu Condensed";
    vertical-align: top;
    position: relative; }
  .stats .right > div, .stats .left div {
    position: absolute;
    height: 100%;
    top: 0; }
    .stats .right > div:before, .stats .left div:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle; }
  .stats .left {
    text-align: right;
    letter-spacing: -7px; }
    .stats .left div {
      right: 5%; }
      .stats .left div span {
        display: inline-block;
        cursor: default; }
  .stats .right > div {
    left: 5%; }
  .stats .right > div > div {
    display: inline-block;
    position: relative;
    top: 8%;
    line-height: 1.25;
    letter-spacing: -2px; }

.forecast {
  height: 23%;
  display: -webkit-box;
  display: -webkit-flex; }
  .forecast > div {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    text-align: center;
    font-family: "Ubuntu Condensed";
    text-transform: uppercase;
    letter-spacing: -1px; }
    .forecast > div > span {
      display: block;
      cursor: default; }
    .forecast > div span.day {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      cursor: default; }
    .forecast > div span.code {
      -webkit-box-flex: 2;
      -webkit-flex: 2;
      cursor: default; }
      .forecast > div span.code img {
        height: auto;
        width: 65%; }
    .forecast > div span.temp {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      cursor: default; }

input[type=checkbox] {
  border: 2px solid #222222;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  margin: 0;
  background: #333;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: 50%; }

::-webkit-scrollbar {
  width: 8px; }

::-webkit-scrollbar-track {
  background: #222; }

::-webkit-scrollbar-thumb {
  background: #555; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes spinning {
  0% {
    -webkit-transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg); } }

@-webkit-keyframes showplaceinput {
  0% {
    padding: 0;
    height: 0; }

  100% {
    padding: 2px 0;
    height: 20px; } }

@-webkit-keyframes showinput {
  0% {
    opacity: 0.001; }

  60% {
    opacity: 0.001; }

  100% {
    opacity: 1; } }

@-webkit-keyframes deletion {
  0% {
    -webkit-transform: translateX(0%);
    height: 23px;
    padding: 2px 0; }

  50% {
    -webkit-transform: translateX(-130%);
    height: 23px;
    padding: 2px 0; }

  100% {
    -webkit-transform: translateX(-130%);
    height: 0;
    padding: 0; } }

#settings {
  -webkit-app-region: no-drag;
  background: #333;
  font-family: "Ubuntu Condensed";
  color: #fff;
  box-sizing: border-box;
  overflow-y: auto;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  #settings .locationSettings {
    padding-top: 40px; }
    #settings .locationSettings h2 {
      margin: 0;
      padding: 5px 20px;
      text-transform: uppercase;
      font-weight: normal;
      letter-spacing: -2px;
      font-size: 22px; }
      #settings .locationSettings h2 .add {
        float: right;
        display: inline-block;
        font-size: 32px;
        line-height: 26px;
        padding: 0 5px;
        cursor: pointer; }
    #settings .locationSettings ul {
      padding: 10px 20px;
      background: #222; }
      #settings .locationSettings ul li {
        font-size: 15px;
        list-style-type: none;
        padding: 2px 0;
        -webkit-transition: 300ms ease -webkit-transform; }
        #settings .locationSettings ul li.placeInput {
          display: none;
          -webkit-animation: 200ms ease showplaceinput 1;
          font-size: 0; }
          #settings .locationSettings ul li.placeInput input {
            outline: 0;
            background: #333;
            color: white;
            font-family: "Ubuntu Condensed";
            font-size: 15px;
            border: 0;
            height: 17px;
            padding: 5px 30px 5px 20px;
            position: relative;
            margin-left: -20px;
            width: 70%;
            -webkit-animation: 600ms ease showinput 1; }
            #settings .locationSettings ul li.placeInput input.mimic {
              -webkit-transition: 600ms ease all;
              background: #222;
              padding: 2px 20px; }
          #settings .locationSettings ul li.placeInput .status {
            display: inline-block;
            width: 27px;
            height: 27px;
            vertical-align: top;
            position: relative;
            left: -27px;
            font-size: 15px;
            -webkit-animation: 600ms ease showinput 1; }
            #settings .locationSettings ul li.placeInput .status.thinking {
              background: url(../img/sync.svg) no-repeat 50% 50%;
              background-size: 14px;
              -webkit-animation: spinning 1200ms linear infinite; }
            #settings .locationSettings ul li.placeInput .status.error::before {
              content: "\2715";
              text-align: center;
              position: absolute;
              width: 27px;
              height: 27px;
              line-height: 27px; }
            #settings .locationSettings ul li.placeInput .status.success {
              background: url(../img/tick.svg) no-repeat 50% 50%;
              background-size: 18px;
              cursor: pointer; }
        #settings .locationSettings ul li .delete {
          float: right;
          padding: 0 5px;
          font-size: 14px;
          cursor: pointer;
          -webkit-animation: 150ms ease opacity 1; }
        #settings .locationSettings ul li.deleting {
          -webkit-animation: 500ms ease deletion 1;
          -webkit-transform: translateX(-130%);
          height: 0;
          padding: 0; }
  #settings .wrapperTwenty {
    padding: 10px 20px 20px; }

.measurement {
  font-family: "ClimaconsRegular";
  font-size: 32px; }

.measurement span {
  padding: 0 7px 5px 10px;
  cursor: default; }

.toggleswitch {
  margin-top: 10px; }
  .toggleswitch span {
    display: inline-block;
    line-height: 1;
    vertical-align: top;
    -webkit-transition: 150ms ease background-color;
    cursor: default;
    border: 2px solid #222222;
    border-right: 0;
    background-color: #333;
    cursor: default; }
    .toggleswitch span img {
      height: 20px;
      position: relative;
      left: -2px;
      top: -1px; }
    .toggleswitch span.selected, .toggleswitch span:hover {
      background-color: #555; }
    .toggleswitch span:last-child {
      border-right: 2px solid #222222; }
  .toggleswitch.speed span {
    line-height: 35px;
    padding: 0 7px;
    width: 42px;
    box-sizing: border-box;
    height: 41px;
    text-align: center;
    cursor: default; }

.measurement span[data-type=k] {
  font-family: "Ubuntu Condensed";
  font-size: 18px;
  line-height: 36px;
  height: 37px;
  padding: 0px 14px 0px;
  vertical-align: top;
  font-weight: bold;
  cursor: default; }

.launcher {
  margin-top: 10px; }

label {
  margin-left: 5px;
  vertical-align: top; }

input[type=checkbox]:checked {
  background-image: url(../img/tick.svg); }

.color {
  font-size: 0;
  margin-top: 10px;
  display: inline-block;
  border: 2px solid #333333; }

.color span {
  height: 14px;
  width: 14px;
  display: inline-block;
  border: 4px solid rgba(0, 0, 0, 0.4);
  cursor: default; }

span[data-color=gradient] {
  background: -webkit-linear-gradient(#0071b2, #d6411b);
  border: 0;
  height: 22px;
  width: 22px;
  border-right: 2px solid #333333;
  cursor: default; }

.btn {
  cursor: default;
  text-transform: uppercase;
  border: 2px solid #222222;
  background: #333;
  color: white;
  -webkit-transition: 150ms ease background;
  font-family: "Ubuntu Condensed";
  font-size: 18px;
  padding: 3px 15px;
  letter-spacing: -1px;
  margin-top: 10px;
  display: inline-block;
  text-decoration: none; }
  .btn:hover {
    background: #555; }

/* ================
   OS Specific Stuff
   ================ */
.chrome #panel .close, .chrome #panel .minimize {
  display: none; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
