<img src="img/back.svg">
<h1>You'll need to go Pro!</h1>
<p>A pro upgrade unlocks more locations, options and a warm fuzzy feeling.</p>
<a class="btn pro" href="http://getstormcloud.com/pro" target="_blank">Upgrade Now</a><br><br>
<p>Already have a license? Paste it in below.</p>
<textarea resize="false"></textarea>
<p class="activated">Pro Activated!</p>
