<img src="img/back.svg">
<h1>Stormcloud 1.2</h1>
<p>Stormcloud is open source under the <a href="http://philsturgeon.co.uk/code/dbad-license">DBAD license</a>. Thanks to everyone that donated or purchased the app! I love you all :)</p>

<ul>
	<li><strong>Design and Dev</strong> by <a href="https://twitter.com/consindo">@consindo</a></li>
	<li><strong>Icons</strong> <a href="http://adamwhitcroft.com/climacons/">(Climacons)</a> by <a href="https://twitter.com/AdamWhitcroft">@AdamWhitcroft</a></li>
	<li><strong>Weather</strong> by <a href="http://weather.yahoo.com">Yahoo</a></li>
	<li><strong>Inspiration</strong> from <a href="https://twitter.com/d0od">@d0od</a> &amp; <a href="https://twitter.com/GeorgeCzabania">@GeorgeCzabania</a></li>
</ul>

<h2>Libraries / Resources</h2>
<p><a href="http://zeptojs.com/">Zepto</a>, <a href="http://swipejs.com/">Swipe</a>, <a href="http://handlebarsjs.com">Handlebars</a>, <a href="http://fittextjs.com/">FitText</a>, <a href="http://adamwhitcroft.com/climacons/">Climacons</a>, <a href="http://sass-lang.com/">SASS</a>, <a href="http://glyphicons.com">Glyphicons</a>, <a href="http://font.ubuntu.com/">Ubuntu Condensed</a></p>

<h2>Made With</h2>
<p><a href="https://www.google.com/chrome">Chrome</a>, <a href="http://www.sublimetext.com/">Sublime Text 2</a>, <a href="http://incident57.com/codekit/">CodeKit</a>, <a href="http://git-scm.com/">Git</a>, <a href="http://www.sourcetreeapp.com/">SourceTree</a>, <a href="https://github.com">GitHub</a>, <a href="http://inkscape.org/">Inkscape</a> and Love.</p>
